{% extends 'base.html' %}
{% block title %}Check your email{% endblock %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% load static %}

{% block content %}

{% block css %}
{% endblock %}

<p style="display: none;">
  {% block bg %}{%static '/images/6.jpg' %}{% endblock %}
</p>


<div class="relative z-0 max-sm:max-md:px-2 px-4 pb-28 py-5" style="font-family: 'Quicksand', sans-serif;">
  <div class="max-sm:max-md:w-[80%] w-1/2 mx-auto py-28 max-sm:max-md:px-2 text-slate-300">
      <div class="rounded-2xl top-0 flex flex-col px-3 py-2 justify-between h-full w-full bg-cyan-700 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-10 items-center shadow-cyan-300/20 shadow-[0px_0px_20px_10px_#5a67d8]">
          <h1 class="text-center w-full font-bold text-2xl mt-4">Reset link sent!</h1>

        <!-- Form error messages -->
        {% for key, value in form.errors.items %}
          <h2 class="bg-rose-800 rounded-lg py-1 my-1 px-4 bg-opacity-70 text-center max-w-max text-md pt-2">{% if key != '__all__' %}{{ key }}{% endif %}{{ value }}</h2>
        {% endfor %}

        {% if user.is_authenticated %}
            <h2 class="text-center w-full text-md pt-2 mb-4">Hold up! You are already logged in.../h2>
        {% else %}
            <h2 class="text-center w-full text-md pt-2 mb-4">An email has been sent to your mailbox. If you cannot find it, be sure to check the <strong>spam</strong> folder. Click on the password reset link to reset your password!</h2>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}